<nav class="navbar">
    <div class="navbar-container">
        <ul class="navbar-menu">
            {% if user.is_authenticated %}
                {% if user.profile.subscription_active %}
                    <li><a href="{% url 'manage' %}">Manage</a></li>
                {% else %}
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="/">Home</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="/">Home</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
